h1 {
    font-family: 'Bangers', cursive;
    color: white;
    text-align: center;
    font-size: 100px;
    padding-bottom: 30px;
}
h2 {
    font-family: 'Bangers', cursive;
    color: white;
    text-align: center;
    font-size: 30px;
    padding-bottom: 30px;
}

.center {
    margin-top: 60px;
   
}

.bkrd {
    background-image: url("images/keyboard.jpg");
    height: 100%; 

    /* Center and scale the image nicely */
   
    background-repeat: no-repeat;
    background-size: cover;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: red;
    color: white;
    text-align: center;
    height: 100px;
    padding-top: 30px;
 }